services:
  postgres:
    image: postgres:18
    container_name: five_jars_postgres_dev
    restart: unless-stopped

    ports:
      - "5432:5432"

    env_file:
      - .env

    volumes:
      # Persistent data
      - five_jars_postgres_dev:/var/lib/postgresql

      # Schema and seed data. TODO: make this happen without copying files
      - ./init:/docker-entrypoint-initdb.d

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 2

volumes:
  five_jars_postgres_dev: